body{
    background-color: rgb(248, 248, 248);
    padding-bottom: 50px;
}
.row {
    max-width: 1000px;
    margin: 0 auto;
}
nav {
    height: 60px;
    background-color: rgb(255,255,255);
    border: 1.5px solid rgb(218, 218, 218);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; 
}
#header-content {
    padding: 5px 0px;
    height: 100%;
    position: relative;
}
.icon {
    width: 30px;
}
.line {
    width: 5.5px;
    vertical-align: middle;
    margin: 0 8px;
    margin-top: 3px;
}
.icon1 {
    float: right;
    margin-right: 10px;
    font-size: 20px;
}
.icon2, .icon1 {
    width: 35px;
}
.icon2 {
    float: left;
    margin-right: 6px;
    font-size: 20px;
}
.icon3 {
    font-size: 17px;
    margin-top:4px;
}
.right-icons {
    margin-top: 5px;
    padding-top: 8px;
}
#logo {
    width: 100px;
    height: 30px;
    margin-top: 8px;
}
input {
    height: 30px;
    width: 215px;
    font-size: 14px;
    text-align: center;
    margin: 8px 10px;

    /*CHECK*/
    background: rgb(250,250,250);
    border: solid 1.5px rgb(219,219,219);
    border-radius: 3px;
    color: rgb(38,38,38);
}
.search-icon {
    position: absolute;
    bottom: 16.5px;
    left: 127px;
}
input:focus {
    background: rgb(194, 194, 194);
}
.main {
    margin-top: 95px;
    max-width: 970px;
}
#main-content {
    margin-bottom: 50px;
}
#sidebar {
   padding-left: 29px;
}
.no-padding {
    padding: 0;
}
.post, .suggested, .stories-scroll {
    background-color: rgb(255,255,255); 
    border: 1.5px solid rgb(226, 226, 226);
    border-radius: 3px;
}
.photo-meta {
    padding: 15px;
}
.comment-box {
    padding: 5px 0;
}
.circle-small {
    border-radius: 50%;
    width: 35px;
}
.circle-big {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.circle-bigger {
    border-radius: 50%;
    width: 54px;
    height: 54px;
}
.left-space {
    margin-left: 10px;
}
.small-left-space {
    margin-left: 5px;
}
.main-photo {
    width: 100%;
    height: 600px;
}
.float-right {
    float: right;
    margin-right:0;
    width: auto;
}
.meta {
    margin-top: 8px;
    margin-bottom: 4px;
}
.meta2 {
    margin-top: 15px;
    height: 60px;
}
.link {
    color: rgb(0, 55, 107);
}
.ig-blue {
    color:rgb(0, 149, 246); 
}
.dull {
    color: rgb(146, 146, 146);
}
.duller {
    color: rgb(184, 184, 184);
}
hr {
    margin: 10px auto;
}
.smaller {
    font-size: smaller;
}
.small {
    font-size: small;
}
.small-icon {
    width: 16px;
    vertical-align: text-top;
}
.suggested {
    padding: 15px;
}
.post {
    margin-bottom:50px;
}
.col3 {
    width: 31%;
    display: inline-block;
    margin-top: 15px;
    padding: 20px;
}
.middle {
    margin-right: 15px;
    margin-left: 15px;
}
.center {
    text-align: center;
}
button {
    background-color:rgb(0, 149, 246);
    width: 100%;
    color: white;
    margin-top: 10px;
}
.btn {
    padding: 4px 12px;
}

#right-arrow {
    position: absolute;
    font-size: 25px;
    right: 18px;
    bottom: 115px;
}

.username-meta {
    margin-bottom: 19px;
}
.username {
    display: inline-block;
    vertical-align: middle;
}
.small-margin {
    margin-top: 3px;
}

.stories-list {
    margin-top: 15px;
    height: 285px;
    overflow-y:auto;
    scrollbar-width: none;
}
/* Found how to hide scrollbar here https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

.story-listing {
    margin-bottom: 10px;
}
.hr2 {
    margin: 2px;
}
.links{
    margin: 15px 0;
    width: 80%;
}
a {
    color: unset;
}

.stories-scroll {
    display: none;
}

/* Found how to do media queries here https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media only screen and (max-width: 1024px) {
    #main-content {
        margin: 20px 145px;
    }
    #sidebar {
        display: none;
    }

    .stories-scroll {
        display: block;
        overflow-x: scroll;
        scrollbar-width: none;
        margin-bottom: 15px;
        max-height: 107px;
    }
    .story-listing2 {
        display: inline-block;
        text-align: center;
        width: 80px;
    }
  }